{% extends 'base_generic.html' %}

{% block title %}
    Renewal book
{% endblock %}

{% block content %}
    <h1>Renew: {{ object.book.title }}</h1>
    <p>Borrower: {{ object.borrower }}</p>
    <p{% if object.is_overdue %} class="text-danger"{% endif %}>Due date: {{ object.due_back }}</p>

    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit"  class="btn btn-secondary login-btn" value="Submit" />
    </form>
{% endblock %}